@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat';
}

.carousel {
    overflow: hidden;
    width: 100vw; /* Ширина 100% экрана */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Высота 70% экрана (можете изменить по своему усмотрению) */
    background-color: #ffff;
}

.carousel-img {
    max-width: 100%; /* Чтобы изображение не выходило за пределы контейнера */
    max-height: 100%; /* Чтобы изображение не выходило за пределы контейнера */
    padding: 0 20px;
}

.carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0;
    padding: 0 20px;
    white-space: normal;
    color: #617d98;
}

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.material-symbols-outlined {
    color: rgba(219.71, 45.41, 129.07, 0.80)
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-button {
    border: none;
    cursor: pointer;
}

.indicators > button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: #26343f;
}
  
.indicator-symbol-active {
    color: #ffffff;
}
